<header class="header">
  <nav class="nav row space-between">
    <ul class="flex item-center">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="contatti">CONTATTI</a></li>
    </ul>
    <ul class="flex item-center">
      <li><a *ngIf="!authService.isLogged()" routerLink="/auth/register">Resgister</a></li>
      <li><a *ngIf="!authService.isLogged()" routerLink="/auth/login">Login</a></li>
      <li><a class="pointer" *ngIf="authService.isLogged()" (click)="authService.logout()">Logout</a></li>
    </ul>
  </nav>
</header>
